#video {
  width: 100%;
}

#video video {
  height: 600px;
  width: 100%;
  z-index: 1;
}

#video h1 {
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#controls>button:first-child,
#controls>button:nth-child(4),
#video>button:nth-child(2) {
  height: 40px;
  width: 60px;
  font-size: 25px;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
}

#video>button:nth-child(2) {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#controls>button:nth-child(2),
#controls>button:nth-child(3) {
  height: 30px;
  width: 60px;
  padding: 5px;
  background-color: rgba(129, 129, 129, 0.227);
  border: 0px;
  border-radius: 5px;
}